@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg {
    background: #0b0b0b !important;
    min-height: 100vh;
    color: white;
}

.merch_description {
    font-family: 'Roboto';
    margin-top: 28px;
}

.merch_description p {
    width: 370px;
    color: #6A6A6A;
    font-size: 15px;
}

.button {
    font-weight: 600;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px 35px;
}