/* Style form modal */

.modal_form {
    width: 310px;
    background-color: #181818;
    padding: 30px 25px;
    border-radius: 5px;
}

/* Style for navbar */

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    background-color: #0b0b0b !important;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header > a, .header_nav > a {
    cursor: pointer;
}

.header_logo {
    width: 75px;
    object-fit: contain;
    margin: 0 30px;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 10px;
    margin-right: 12px;
    margin-left: 12px;
}

.header_searchInput {
    height: 35px;
    padding: 10px;
    border: none;
    width: 250px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 15px;
}

.header_searchIcon {
    cursor: pointer;
    background:  #f1faee;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #555b6e;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.text-navbar {
    text-decoration: none;
    color: white !important;
    font-weight: 700 !important;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px !important;
}

.text-navbar-active {
    color: #F74D4D !important;
    text-decoration: none;
    font-weight: 700 !important;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px !important;
}

.price {
    color: white;
    font-weight: 300;
    font-size: 15px;
}

.product_image {
    width: 190px;
    height: 240px;
}

.chat_img {
    width: 50px;
    height: 50px;
}

.text-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
    width: 900px;
}

.input-message {
    width: 100%;
    height: 40px;
    background: rgba(171, 171, 171, 0.15);
    border: none;
    color: #ffffff;
    border-radius: 5px;
}

.contact {
    display: flex;
    align-items: center;
    width: 300px;
}

.contact img {
    flex-grow: 0;
    flex-shrink: 0;
}
  
.contact ul {
    list-style-type: none;
}
  
.contact:hover {
    background-color: #212121;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}
  
.contact:active {
    background-color: #3d3d3d;
    transition: 0.3s;
}
  
.contact-active {
    background-color: #212121;
    border-radius: 5px;
}

.chat-box {
    display: flex;
    align-items: flex-end;
}

.text-contact {
    font-size: 14px;
}
  
.text-contact-chat {
    color: #ababab;
}

.img_contact {
    width: 50px !important;
    height: 50px !important;
    object-fit: contain !important;
    border-radius: 50%;
}

.chat-other {
    background: #575757;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    max-width: 400px;
}

.text-chat {
    background: #262626;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    max-width: 400px;
}

.message-complain {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.button {
    width: 120px;
    border: none !important;
}