* {
  padding: 0%;
  margin: 0%;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg {
  background: #0b0b0b !important;
  min-height: 100vh;
  color: white;
}

.merch_description {
  font-family: 'Roboto';
  margin-top: 28px;
}

.merch_description p {
  width: 370px;
  color: #6A6A6A;
  font-size: 15px;
}

.button {
  font-weight: 600;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 5px 35px;
}

.image_product {
  width: 360px;
  border-radius: 3px;
}

.red_font {
  color: #F74D4D;
  margin-bottom: 0;
  font-weight: 600;
}

img {
  image-rendering: optimizeSpeed;
}

.text_profile {
  color: #F74D4D;
  margin-bottom: 0;
  font-weight: 600;
}

.img-transaction {
  width: 85px;
  height: 90px;
  border-radius: 2px;
}

.transaction-card {
  width: 540px;
  background-color: #303030;
  padding: 12px;
  border-radius: 3px;
}

.card {
  transition: 0.6s;
}

.card:hover  {
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px #6d6875;
  z-index: 2;
}

/* Style for admin page */

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 15px 20px;
  border-bottom: 1px solid #C4C4C4;
}

.table > tbody > tr > td {
  font-weight: 300;
}

.mytable > tbody > tr > td,
.mytable > tbody > tr > th,
.mytable > tfoot > tr > td,
.mytable > tfoot > tr > th,
.mytable > thead > tr > td,
.mytable > thead > tr > th {
  padding: 20px;
  width: 350px;
}

textarea {
  background-color: #303030;
  border: 1px solid #BCBCBC;
  resize: none;
  height: 110px;
  border-radius: 5px;
  padding: 8px 15px;
  color: #FFFFFF;
}
::placeholder {
  color: #FFFFFF;
}

:-ms-input-placeholder {
  color: #FFFFFF;
}

.add-product {
  background-color: #303030;
  border-radius: 5px;
  padding: 8px 15px;
  color: #FFFFFF;
  border: 1px solid #BCBCBC;
  margin: 5px 0 5px 0;
}

.upload-file {
  background-color: #F74D4D;
  padding: 7px 20px;
  width: fit-content;
  border-radius: 5px;
}

.input-category {
  background-color: #303030;
  border: 1px solid #BCBCBC;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.card-category {
  background-color: #303030;
  border-radius: 5px;
  border: 1px solid #BCBCBC;
}

.btn-category {
  background-color: #56C05A;
  width: 100%;
  height: 43px;
  border-radius: 7px;
  color: #FFFFFF;
  font-weight: 700;
}
